<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HistoryOrder</servlet-name>
        <servlet-class>com.ics.pdatakeorder.servlet.HistoryOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>com.ics.pdatakeorder.servlet.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>com.ics.pdatakeorder.servlet.OrderDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryOrder</servlet-name>
        <url-pattern>/HistoryOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/OrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
